.general-card {
    max-width: 400px; /* Tamaño máximo del contenedor */
    margin:  auto; /* Centrar el contenedor horizontalmente */
    padding: 20px;
    background-color: #f8f9fa; /* Color de fondo claro para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    text-align: center; /* Centrar el texto */
    margin-top: 150px; /* Espacio superior */
  }
  
  h2 {
    color: #007bff; /* Color azul para el título */
    margin-bottom: 20px; /* Espacio inferior */
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
   
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 100%; /* Hacer los campos del formulario tan anchos como el contenedor */
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #007bff; /* Borde azul */
    border-radius: 4px; /* Bordes redondeados */
  }
  
  .btn-submit {
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    border: none; /* Quitar borde por defecto */
    padding: 10px 20px; /* Relleno */
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cursor de mano */
    font-size: 16px; /* Tamaño de fuente */
  }
  
  .btn-submit:hover {
    background-color: #0056b3; /* Color azul más oscuro al pasar el ratón */
  }
  
  .signup-link {
    margin-top: 15px; /* Espacio superior */
  }
  
  .error {
    color: red; /* Color rojo para los mensajes de error */
    margin-top: 10px; /* Espacio superior */
  }
  body {
    background-image: url('../media/fotoHome.png'); /* Ajusta la ruta según tu estructura de carpetas */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

#volver-btn{
  background-color: #007bff; /* Color de fondo azul */
  color: white; /* Color del texto */
  margin-left: 20px;
  }
  
  #volver-btn_misComplejos{
    background-color: #007bff; /* Color de fondo azul */
    color: white; /* Color del texto */
    margin-left: 700px;
    margin-top: 20px;
  }
  .complejo-item{
    background-color: #f8f9fa; /* Color de fondo claro para el contenedor */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para dar profundidad */
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
  }




.edit-container {
  max-width: 400px; /* Asegura un tamaño compacto */
  padding: 10px;
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; /* Ordena elementos verticalmente */
  flex-shrink: 0; /* Asegura que no se encoge más allá del contenido */
  margin-top: 20px; /* Ajuste para separar un poco del borde superior */
}

h2 {
  font-size: 1.2rem;
  text-align: center;
}

.edit-form input, .edit-form button {
  width: 100%;
  padding: 6px; /* Tamaño de input más compacto */
  margin: 6px 0;
}

.btn-submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 4px;
  text-align: center;
}

.btn-submit:hover {
  background-color: #007bff;
}

.error {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.card-img-top{
  max-height: 200px; 
  object-fit: cover;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
}
h1 {
  color: #ffffff;
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}
  .complejo-status {
  font-weight: bold;
  color: #28a745;
}
  .complejo-status.disabled {
  color: #dc3545;
}



.hero {
  background-image: url("{% static 'images/image.png' %}");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.hero h1 {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  text-transform: uppercase;
}

.hero .cta-button {
  background-color: #ffea00;
  color: black;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  text-decoration: none;
  font-weight: bold;
  border-radius: 5px;
  margin-top: 20px;
}

.hero .cta-button:hover {
  background-color: #ffcc00;
}

 .mt-3{
  max-width: 200px; 
  margin: auto;
}

.bi-clock
{
  color: #007bff;
}




.registration-success-container {
  background-color: #ffffff;
  max-width: 600px;
  margin: 0 auto;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-top: 80px;
}

.registration-title {
  color: #333;
  font-size: 28px;
  margin-bottom: 20px;
}

.registration-message {
  color: #555;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.registration-button {
  display: inline-block;
  background-color: #007bff;
  color: #ffffff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.registration-button:hover {
  background-color: #007bff;
}



.signup-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #072064;
}


.text-muted-custom {
  color: #ffffff;
  font-size: 200%;
}

