{% extends "base.html" %}

{% block title %}Complejos{% endblock %}

{% block content %}
    <h1>Descubre todos los complejos disponibles!</h1>

    <!-- Formulario para filtrar complejos -->
    <form method="get">
        
        <label for="prestan_paletas">Prestan paletas:</label>
        <select name="prestan_paletas" id="prestan_paletas">
            <option value="">-- Seleccione --</option>
            <option value="prestan" {% if request.GET.tipo_instalacion == 'prestan' %}selected{% endif %}>Prestan</option>
            <option value="alquilan" {% if request.GET.tipo_instalacion == 'alquilan' %}selected{% endif %}>Alquilan</option>
            <option value="alquilan_y_prestan" {% if request.GET.tipo_instalacion == 'alquilan_y_prestan' %}selected{% endif %}>Ambas</option>
        </select>
        <label for="tipo_instalacion">Tipo de Instalación:</label>
        <select name="tipo_instalacion" id="tipo_instalacion">
            <option value="">-- Seleccione --</option>
            <option value="indoor" {% if request.GET.tipo_instalacion == 'indoor' %}selected{% endif %}>Indoor</option>
            <option value="outdoor" {% if request.GET.tipo_instalacion == 'outdoor' %}selected{% endif %}>Outdoor</option>
            <option value="ambas" {% if request.GET.tipo_instalacion == 'ambas' %}selected{% endif %}>Ambas</option>
        </select>
        <label for="tiene_duchas">Tiene Duchas:</label>
        <select name="tiene_duchas" id="tiene_duchas">
            <option value="">-- Seleccione --</option>
            <option value="true" {% if request.GET.tiene_duchas == 'true' %}selected{% endif %}>Sí</option>
            <option value="false" {% if request.GET.tiene_duchas == 'false' %}selected{% endif %}>No</option>
        </select>

        <button type="submit">Filtrar</button>
    </form>

    <div class="complejo-container">
        {% for complejo in complejos %}
            {% if complejo.habilitado %}
                <div class="complejo-item">
                    <!-- Enlace al detalle del complejo -->
                    <a href="{% url 'detalle_complejo' complejo.id %}">
                        <div class="complejo-title">{{ complejo.nombre_complejo }}</div>
                    </a>
                    <div class="complejo-info">
                        <span><strong>Dirección:</strong> {{ complejo.direccion }}</span>
                        <span><strong>Teléfono:</strong> {{ complejo.telefono }}</span>
                        <span><strong>Número de pistas:</strong> {{ complejo.numero_de_pistas }}</span>
                        <span><strong>Descripción:</strong> {{ complejo.descripcion }}</span>
                        <br>
                        {% if complejo.foto_complejo %}
                            <img src="{{ complejo.foto_complejo.url }}">
                        {% endif %}
                        </br>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}


