{% extends "base.html" %}

{% block title %}Detalle del Complejo{% endblock %}

{% block content %}
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ complejo.nombre_complejo }}</title>
    </head>

    <body>
        <h1>{{ complejo.nombre_complejo }}</h1>
        <div class="complejo-info">
            <span><strong>Dirección:</strong> {{ complejo.direccion }}</span>
            <span><strong>Teléfono:</strong> {{ complejo.telefono }}</span>
            <span><strong>Número de pistas:</strong> {{ complejo.numero_de_pistas }}</span>
            <span><strong>Descripción:</strong> {{ complejo.descripcion }}</span>
            <br>
            <span><a href="{% url 'reservar_turno' complejo.id %}"> quiero jugar ya mismo!!!!!</a></span>
            </br>
            <br>
            {% if complejo.foto_complejo %}
                <img src="{{ complejo.foto_complejo.url }}">
            {% endif %}
            </br>
        </div>
    </body>
    </html>
{% endblock %}
