{% extends "base.html" %}
{% load static %}
{% block title %}Detalle del Complejo - {{ complejo.nombre_complejo }}{% endblock %}

{% block content %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card" style="width: 30rem;">
        {% if complejo.foto_complejo %}
            <img src="{{ complejo.foto_complejo.url }}" class="card-img-top" alt="Imagen del Complejo">
        {% endif %}
        <div class="card-body text-center">
            <h5 class="card-title">{{ complejo.nombre_complejo }}</h5>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">  <strong>Tipo de Instalacion:</strong> {{ complejo.tipo_instalacion }}</li>
            <li class="list-group-item">
                <strong>Presta Paleta:</strong>
                {% if complejo.prestan_paletas == 'prestan' %}
                    Sí
                {% elif complejo.prestan_paletas == 'alquilan_y_prestan' %}
                    Prestan y alquilan
                {% else %}
                    No
                {% endif %}
            </li>
            <li class="list-group-item">
                <strong>Presta Pelota:</strong>
                {% if complejo.prestan_pelotas == 'prestan' %}
                    Sí
                {% elif complejo.prestan_pelotas == 'alquilan_y_prestan' %}
                    Prestan y alquilan
                {% else %}
                    No
                {% endif %}
            </li>
            <li class="list-group-item">
                <strong>Tiene Ducha:</strong>
                {% if complejo.tiene_duchas %}
                    Sí
                {% else %}
                    No
                {% endif %}
            </li>
        </ul>
        <div class="card-body text-center">
            <span><a href="{% url 'mostrar_turnos' complejo.id %}"> A jugar!</a></span>
            <a href="{% url 'ver_complejos' %}" class="btn btn-primary" id="volver-btn">Volver</a>
        </div>
    </div>
</div>
{% endblock %}
