{% extends "base.html" %}

{% block title %}Complejos{% endblock %}

{% block content %}
<form method="get" action="{% url 'buscar_complejos_view' %}" class="form-inline mb-3">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Buscar complejos" name="q" value="{{ request.GET.q }}">
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">Buscar</button>
      </div>
    </div>
</form>
    <form method="get">
<div class="container">
            <div class="row">
                <div class="col-md-3 mb-3">
                    <label for="prestan_paletas">Prestan paletas:</label>
                    <select name="prestan_paletas" id="prestan_paletas" class="form-control">
                        <option value="">-- Seleccione --</option>
                        <option value="prestan" {% if request.GET.prestan_paletas == 'prestan' %}selected{% endif %}>Prestan</option>
                        <option value="alquilan" {% if request.GET.prestan_paletas == 'alquilan' %}selected{% endif %}>Alquilan</option>
                        <option value="alquilan_y_prestan" {% if request.GET.prestan_paletas == 'alquilan_y_prestan' %}selected{% endif %}>Ambas</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="tipo_instalacion">Tipo de Instalación:</label>
                    <select name="tipo_instalacion" id="tipo_instalacion" class="form-control">
                        <option value="">-- Seleccione --</option>
                        <option value="indoor" {% if request.GET.tipo_instalacion == 'indoor' %}selected{% endif %}>Indoor</option>
                        <option value="outdoor" {% if request.GET.tipo_instalacion == 'outdoor' %}selected{% endif %}>Outdoor</option>
                        
                    </select>
                </div>
                <div class="col-md-3 mb-3">
                    <label for="tiene_duchas">Tiene Duchas:</label>
                    <select name="tiene_duchas" id="tiene_duchas" class="form-control">
                        <option value="">-- Seleccione --</option>
                        <option value="True" {% if request.GET.tiene_duchas == 'True' %}selected{% endif %}>Sí</option>
                        <option value="False" {% if request.GET.tiene_duchas == 'False' %}selected{% endif %}>No</option>
                    </select>
                </div>
                <div class="col-md-3 mb-3 d-flex align-items-end">
                    <button type="submit" class="btn btn-primary w-100">Filtrar</button>
                    <a href="{% url 'home' %}" class="btn btn-primary" id="volver-btn">Volver</a>
                </div>
                
            </div>
        </div>
       
    </form>
<div class="container text-center mt-4">
        <div class="row justify-content-start">
            {% for complejo in complejos %}
                {% if complejo.habilitado %}
                    <div class="col-md-4 mb-4">
                        <div class="card">
                            {% if complejo.foto_complejo %}
                                <img src="{{ complejo.foto_complejo.url }}" class="card-img-top" alt="{{ complejo.nombre_complejo }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ complejo.nombre_complejo }}</h5>
                                <p class="card-text">
                                    <strong>Dirección:</strong> {{ complejo.direccion }}<br>
                                    <strong>Ciudad:</strong> {{ complejo.ciudad }}<br>  
                                    <strong>Teléfono:</strong> {{ complejo.telefono }}<br>
                                </p>
                                <a href="{% url 'detalle_complejo' complejo.id %}" class="btn btn-primary">Ver Detalles</a>
                            </div>
                        </div>
                    </div>

 {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}