{% extends "base.html" %}
{% load i18n %}
{% block title %}Detalle del Complejo{% endblock %}

{% block content %}
    
<h1> Reserva tu turno! </h1>

<div class="turnos_complejo">
    {% for dia, turnos in turnos_por_dia.items %}
        <h2>{{ dia|date:"l d F" }}</h2> <!-- Mostrar la fecha -->
        <ul>
            {% for turno in turnos %}
                {% if turno.estado == 'disponible' %}
                    <li>
                        <strong>Horario:</strong> {{ turno.horario|time:"g:i A" }} <a href="{% url 'reservar_turno' complejo_id=complejo.id turno_id=turno.id %}">Reservar</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>
    
{% endblock %}