{% extends "base.html" %}

{% block title %}Mis Complejos de Padel{% endblock %}

{% block content %}
    <div class="container text-center mt-4">
        {% if complejos %}
            <div class="row">
                {% for complejo in complejos %}
                    {% for item in complejo %}
                        {% if item.habilitado %}
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.nombre_complejo }}</h5>
                                        
                                        <p><strong>Dirección:</strong> {{ item.direccion }}</p>
                                        <p><strong>Teléfono:</strong> {{ item.telefono }}</p>
                                        <p><strong>Número de pistas:</strong> {{ item.numero_de_pistas }}</p>
                                        <p><strong>Descripción:</strong> {{ item.descripcion }}</p>
                                        <p><strong>Estado:</strong> 
                                            <span class="complejo-status {% if not item.habilitado %}disabled{% endif %}">
                                                {% if item.habilitado %}Habilitado{% else %}No Habilitado{% endif %}
                                            </span>
                                        </p>
                                        
                                        <a href="{% url 'editar_complejo' item.id %}" class="btn btn-primary">Editar</a>
                                    </div>
                                    {% if item.foto_complejo %}
                                        <img src="{{ item.foto_complejo.url }}" class="card-img-bottom" alt="Foto del Complejo">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        {% else %}
            <p>No tienes complejos registrados.</p>
        {% endif %}
    </div>

    
        
    
{% endblock %}
