{% extends "base.html" %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

    <h1>Mis Complejos de Padel</h1>
    
    {% if complejos %}

        <div class="container text-center mt-4">
            <div class="row">
                {% for complejo in complejos %}
                    {% for item in complejo %}
                        {% if item.habilitado %}
                            <div class="col-md-4 mb-4">
                                <div class="card h-100">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ item.nombre_complejo }}</h5>
                                        <p><strong>Dirección:</strong> {{ item.direccion }}</p>
                                        <p><strong>Teléfono:</strong> {{ item.telefono }}</p>
                                        <p><strong>Número de pistas:</strong> {{ item.numero_de_pistas }}</p>
                                        <p><strong>Descripción:</strong> {{ item.descripcion }}</p>
                                        <p><strong>Estado:</strong> 
                                            <span class="complejo-status {% if not item.habilitado %}disabled{% endif %}">
                                                {% if item.habilitado %}Habilitado{% else %}No Habilitado{% endif %}
                                            </span>
                                        </p>
                                        {% if item.habilitado %}
                                            <p><a href="{% url 'cargar_turno' item.id %}">Cargar turnos</a></p>
                                            <div class="card-body text-center">
                                                <span><a href="{% url 'ver_turnos_mi_complejo' item.id %}"> Ver los turnos</a></span>
                                            </div>
                                            <p><a href="{% url 'ver_reservas_realizadas' item.id %}"> Ver reservas de los usuarios!</a></p>
                                        {% endif %}
                                        <p><a href="{% url 'editar_complejo' item.id %}" class="btn btn-primary">Editar</a></p>   
                                    </div>
                                    {% if item.foto_complejo %}
                                        <img src="{{ item.foto_complejo.url }}">
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
        
    {% else %}
        <p>No tienes complejos registrados.</p>
    {% endif %}

{% endblock %}