{% extends "base.html" %}

{% block content %}

 <div class="general-card">
    <h2>Iniciar Sesión</h2>
    <form method="post" class="login-form">
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ request.GET.next }}">
      {{ form.as_p }}
      <button type="submit" class="btn-submit">Iniciar Sesión</button>
    </form>
    <p class="signup-link">¿No tienes una cuenta? <a href="{% url 'signup' %}">Regístrate</a></p>
    {% if form.non_field_errors %}
      <div class="error">
        {{ form.non_field_errors }}
      </div>
    {% endif %}
  </div>

{% endblock %}



