
{% extends "base.html" %}

{% block title %}
  Bienvenido a Padel.com
{% endblock %}

  {% block content %}
  <div class="signup-container">
      <h2>Bienvenido a Padel.com</h2>
      <form method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="nombre_complejo">Nombre del Complejo:</label>
          {{ form.nombre_complejo }}
        </div>
        <div class="form-group">
          <label for="telefono">Teléfono:</label>
          {{ form.telefono }}
        </div>
        <div class="form-group">
          <label for="provincia">Provincia:</label>
          {{ form.provincia }}
        </div> 
        <div class="form-group">
          <label for="ciudad">Ciudad:</label>
          {{ form.ciudad }}
        </div>
        <div class="form-group">
          <label for="direccion">Direccion:</label>
          {{ form.direccion }}
        </div>
        <div class="form-group">
          <label for="rango_horario">Rango horario de los turnos(no anda):</label>
          
        </div>
        <div class="form-group">
          <label for="duracion turnos">duracion turnos (no anda):</label>
          
        <button type="submit" class="btn btn-primary">Sign Up</button>
        <a href="{% url 'ver_complejos' %}" class="btn btn-primary" id="volver-btn">Volver</a>
      </form>
    </div>



{% endblock %}
